## **String Operations**

### **Strings**

 A string is contained within 2 quotes:

In [1]:
"Simon Lee"

'Simon Lee'

You can also use single  quotes:

In [2]:
'Simon Lee'

'Simon Lee'

A string can have spaces and digits:

In [3]:
'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

A string can include special characters :

In [4]:
'@#2_#]&*^%$'

'@#2_#]&*^%$'

Let us print our string using the print statement:

In [5]:
print("hello, Python!")

hello, Python!

We can assign a string to a variable:

In [6]:
Author_Name= "Simon Lee"
Author_Name

'Simon Lee'

### **Concatenation**

Concatenation: You can use the + operator to concatenate (join) two or more strings together. For example:

In [0]:
string1 = "Hello"
string2 = "world"
concatenated_string = string1 + " " + string2
print(concatenated_string)  # Output: "Hello world"

### **Indexing**

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers. See the illustration in the lecture slides.

In [7]:
Name= "Simon Lee"

 The first index can be accessed as follows:

In [8]:
print(Name[0])

S

 We can access index 6:

In [9]:
print(Name[6])

L

Moreover, we can access the 8th index:

In [10]:
print(Name[8])

e

 We can also use negative indexing with strings.

 The last element is given by the  index -1:

In [11]:
print(Name[-1])

e

 The first element can be obtained by  index -9:

In [12]:
print(Name[-9])

S

 We can find the number of characters in a string by using 'len', short for length:

In [13]:
len("Simon Lee")

9

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 5th element:

In [14]:
Name[0:5]

'Simon'

If we indicate a index that out of range during slicing

In [15]:
Name[7:12]

'ee'

While we technically can indicate an index that out of range during slicing; however, I encourage you not to do so.

I encourage you to do the following:

In [16]:
Name[7:len(Name)] # use len(Name) to indicate the max position

'ee'

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [17]:
Statement = Name + " is the best"
Statement

'Simon Lee is the best'

 To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [18]:
3*"Simon Lee "

'Simon Lee Simon Lee Simon Lee '

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from "Simon Lee" to â€œSimon Lee is the best".

In [19]:
Name= "Simon Lee"
Name= Name+" is the best"
Name

'Simon Lee is the best'

### **String Operations**

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method "upper"; this method converts upper case characters to lower case characters:

In [23]:
A="I am Simon Lee"
print("before upper:",A)
B=A.upper()
print("After upper:",B)

before upper: I am Simon Lee
After upper: I AM SIMON LEE

The method replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [24]:
A="Simon Lee is the best"
B=A.replace('Simon', 'May')
B

'May Lee is the best'

The method "find" finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence.

In [25]:
Name="Simon Lee"
Name.find('on')

3

In [26]:
Name.find('Lee')

6

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Allen' is not a substring:

In [27]:
Name.find('Allen')

-1

### **Exercises**

#### Consider the variable ``D``: use slicing to print out the first three elements:

In [28]:
D="I am the Hero"

In [30]:
#Solution: print(D[:3]) or print(D[0:3])

#### Convert the variable "F" to uppercase:

In [31]:
F="You are the best"

In [33]:
#Solution:F.upper()

#### Consider the variable "G", and find the first index of the sub-string 'writer':

In [34]:
G="William Shakespeare was an English playwright, poet and actor. He is widely regarded as the greatest writer in the English language and the world's greatest dramatist."

In [36]:
#Solution: G.find('writer')

#### In the variable "G", replace the sub-string William Shakespeare with "Simon Lee":

In [38]:
# G.replace("William Shakespeare","Simon Lee")