## **Data Value and Variable**

<p>Python is an object-oriented language. There are many different types of objects in Python.

Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're writing <i>character strings</i> (**strings** for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 2) and <i>floats</i>, which are real numbers (e.g. 3.1415926, -1.00).</p>

<p>The following code cells show some examples.</p>

In [27]:
# Integer

2822

2822

In [28]:
# Float

3.1415926

3.1415926

In [29]:
# String

"Hello, COMM5007!"

'Hello, COMM5007!'

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [30]:
# Type of 12
type(12)

int

In [31]:
type(2822)

int

In [32]:
type(2822.0)

float

In [33]:
type("2822")

str

In [34]:
type("2822.0")

str

In [35]:
# Type of 2.14
type(2.14)

float

In [36]:
# Type of "Hello, INFS2822 and COMM5007!"
type("Hello, INFS2822 and COMM5007!")

str

n the code cell below, use the type() function to check the object type of **"INFS1603"**.

In [37]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```python
type("INFS1603")

```

</details>

### **Integers**

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>



1, 2, 3, 4, 5, 6, 7, 8, 9, 10



-1, -2, -3, -4, -5, -6, -7, -8, -9, -10

In [38]:
# Print the type of -1

type(-1)

int

In [39]:
# Print the type of 4

type(4)

int

In [40]:
# Print the type of 0

type(0)

int

### **Floats**

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals".

There are some limitations when it comes to machines representing real numbers, and floating point numbers are a good representation in most cases.

You can learn more about the specifics of floats for your runtime environment, by checking the value of <code>sys.float_info</code>. This will also tell you what's the largest and smallest number that can be represented with them.</p>

In [41]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### **Exercise**

In [42]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [43]:
# Print the type of 1

type(1) # Notice that 1 is an int, and 1.0 is a float

int

In [44]:
# Print the type of 0.5

type(0.5)

float

In [45]:
# Print the type of 0.56

type(0.56)

float

In [46]:
# System settings about int type
import sys
sys.int_info

sys.int_info(bits_per_digit=30, sizeof_digit=4)

### **Type Conversion**

We use type conversion to onvert one object type to a different object type

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [47]:
# Verify that this is an integer

type(2)

int

**Converting integers to floats**

<p>Let's cast integer 2 to float:</p>

In [48]:
# Convert 2 to a float

float(2)

2.0

In [49]:
# Convert integer 2 to a float and check its type

type(float(2))

float

<p>When we convert an integer into a float, we don't really change the value of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [50]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

**Converting from strings to integers or floats**

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [51]:
# Convert a string into an integer

int('1')

1

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [52]:
# Convert a string into an integer with error

int('1 or 2 courses')

ValueError: invalid literal for int() with base 10: '1 or 2 courses'

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [53]:
# Convert the string "50.06" into a float

float('50.06')

50.06

Note that strings can be represented with single quotes ('50.06') or double quotes ("50.06"), but you can't mix both (e.g., "50.06').

**Converting numbers to strings**

We can convert numbers to strings

In [54]:
# Convert an integer to a string

str(1)

'1'

We are able to make floats into strings as well

In [55]:
# Convert a float to a string

str(1.2)

'1.2'

**Boolean data type**

**Boolean** is another important type in Python. An object of type Boolean can take on one of two values: **True** or **False**:

In [56]:
# Value true

True

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [57]:
# Value false

False

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [58]:
# Type of True

type(True)

bool

In [59]:
# Type of False

type(False)

bool

We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float we will get a **1**. If we cast a boolean with a value of False to an integer or float we will get a **0**. Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0 to a Boolean we will get a False. Let's give it a try:

In [60]:
# Convert True to int

int(True)

1

In [61]:
# Convert 1 to boolean

bool(1)

True

In [62]:
# Convert 0 to boolean

bool(0)

False

In [63]:
# Convert True to float

float(True)

1.0

### **Variables**

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [64]:
# Store value into variable

x = 43

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [65]:
# Print out the value in variable

x

43